@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');


html,
body {
  padding: 0 !important;
  font-family: 'Lato', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100% !important;
  display: flex !important;
}

.mainBody {
  display: flex;
  width: 100%; 
  margin-top: 65px;
}

.pageContent {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

a {
  color: #cbcccd;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1b1d21;
  font-family: 'Lato', sans-serif;
}

.teamCardsDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postsCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-left: 275px;
  margin-bottom: 500px;
}

.postCardsDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.postCard {
  color: #cfd0d1;
  font-family: 'Lato', sans-serif;
  flex-direction: row;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.postCard:hover {
  background-color: #232529;
}

.gutter {
  display: flex;
  flex-shrink: 0;
  margin-right: 8px;
}

.userProfileHover {
    display: inline-flex;
    height: fit-content;
    width: fit-content;
}

.photoBtn {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  margin: 0;
  overflow: initial;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
}

.messagesCardContainer {
  flex-flow: row;
  font-family: 'Lato', sans-serif;
  margin-left: 5px;
}

.morePostInfoBtn {
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  height: 0;
  line-height: 0;
  margin-bottom: 10px;
}

.morePostInfoBtn:hover {
  background-color: transparent;
}

.editMessage {
  background-color: #222529;
  color: white;
  border: none;
}

.deleteMessage {
  background-color: #222529;
  color: white;
  border: none;
}

.editMessage:hover {
  background-color: #232529;
}

.deleteMessage:hover {
  background-color: #232529;
}

.sidebarStyle {
  text-align: left;
  width: 250px;
  background-color: #19171d;
  color: #c6c8c9;
  position: fixed;
  height: 100%;
  z-index: 20;
  left: 0;
  padding-left: 20px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 3px;
  border-color: #343739;
  border-top: 0px;
}

.post-container {
  height: 100vh;
}

.channel-title {
  color: white;
}

.mainPostContainer {
  display: flex;
  color: #cfd0d1;
  position: fixed;
  bottom: 150px;
  width: 80%;
  margin-left: 130px;
}

.commentInputContainer {
    flex-wrap: wrap;
    flex-shrink: 1;
    z-index: 300;
    position: fixed;
    Width: 76%;
    bottom: 0;
    border-radius: 6px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #565856 !important;
    color: #cfd0d1;
    margin-bottom: 1%;
    width: 84%;
    left: 284px;
}

.commentInputContainer:focus {
  border: none !important;
}

.commentInputContainer > .form-control {
  border: none !important;
  background-color: #232529 !important;
}

.commentInputContainer::selection > .form-control {
  border: none !important;
  background-color: #232529 !important;
  color: #cfd0d1 
}

.submitPostBtn {
  background-color: #232529;
  border: none;
  align-self: flex-end;
  justify-self: flex-end;
  position: relative;
}

.postContentDiv {
  height: 100px;
  border: none !important;
  color: #cfd0d1 !important;
}

.postContentDiv:focus > .form-control {
  border: none !important;
}

.postContentDiv::selection > .form-control{
  background-color: #232529 !important;
  height: 100px;
  border: none !important;
}

.postContentDiv:active{
  background-color: #232529 !important;
  height: 100px;
  border: none !important;
}
.postContentDiv:hover {
  background-color: #232529;
}

.postSubmitToolbar {
  background-color: #232529;
  fill: #232529;
  display: flex;
  flex-direction: column;
}

.leftToolbar {
  background-color: #232529;
  width: 90%;
  justify-self: flex-start;
}

.all-channels-page {
  background-color: white;
}

.profile {
  color: white;
  margin-top: 20px;
}

.logo {
  height: 50px;
  margin-right: 15px;
  margin-top: 10px;
}

.noShow{
  display: none;
}

.icon {
  height: 20px;
  padding: 2px;
}
 
.postOptions {
  background-color: #1b1d21;
  border: none;
  color: #cfd0d1;
  font-size:xx-large
}

.moadlBody {
  background-color: #222529;
}

.modalHeader {
  background-color: #222529;
}

.panel-body-content {
  float: left;
  text-align: left;
}

.postContentAlign {
  margin-left: 10px;
}

.panel-heading {
  float: left;
}

.panel-body-replies {
  float: left;
}

.repliesNumBtn {
  background-color: transparent;
  border: none;
  color: #379bd1;
  padding: 0;
  border-radius: 0px;
}

.repliesNumBtn:hover {
  background-color: transparent;
  border-bottom: 1px solid;
  color: #379bd1;
}

.profileDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #232529;
  color: #cfd0d1;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 3px;
  border-color: #343739;
}
#__next {
  width: 100%;
}

.blockPosts {
  background-color: #1b1d21;
  position: fixed;
  height: 18px;
  width: 1597px;
  border: solid;
  border-color: #1b1d21;
  margin-left: -1316px;
  bottom: 0;
}

.navbar {
  /* text-align: left; */
  width: 100%;
  background-color: #19171d;
  color: #9b9a9d;
  /* position: fixed; */
  height: auto;
  z-index: 300;
  left: 0;
  padding-left: 20px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 3px;
  border-color: #343739;
  border-top: 0px;
  display: flex;
  justify-content: space-between;
}

.sidebarLogoName {
  display: flex;
  margin-left: 5px;
}

.channelNameSidebar {
  font-family: 'Lato', sans-serif;
  margin-top: 25px;
  font-weight: bold;
}

.accordionChannels {
  background-color: #19161d !important;
  border: none;
  color: #c6c8c9 !important;
}

.accordion-button {
  background-color: #19161d !important;
  color: #c6c8c9 !important;
}

.accordion-item {
  color: #c6c8c9 !important;
  background-color: #19161d !important;
  border: none;
  text-align: left !important;
  float: left !important;
}

.accordionStyle {
    background-color: #19161d !important;
    color: #c6c8c9 !important;
}

.accordion-button {
  color: #c6c8c9 !important;
}

.collapsed {
  color: #c6c8c9 !important;
}

.listItemsChannels {
  text-align: left !important;
  float: left !important;
}

ul {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.bottomSidebar {
  display: flex;
  flex-direction: column;
}

.threadStyle {
  background-color: #222529;
  color: #cbcccd;
}

.threadReplyBtn {
  background-color: transparent;
  border: none;
}

.threadReplyBtn:hover {
  background-color: transparent;
  border: none;
}

.threadReplyBtn:active {
  background-color: transparent;
  border: none;
}

.messageContent {
  background-color: #222529;
  width: 100%;
  color: #cbcccd;
=======
.profilepageDiv {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.mainProfilePage {
  margin-left: 300px;
  margin-top: 60px;
}

.profileSidebar {
  margin-right: 200px;
}

.profileBtn {
  background-color: none;
  color: #cfd0d1;
}

.signOutBtn {
  background-color: none;
  color: #cfd0d1;
}

.profileDropdownBottomDiv {
  background-color: #242529;
  text-align: center;
}

.threadOffcanvas {
  border-style: solid;
  border-width: 0.5px;
  border-radius: 3px;
  border-color: #343739;
}

.navbarContents {
  display: flex;
}

.update-user {
  display: flex;
  justify-content: center;
}

form {
  width: 60%;
}

a {
color:#9b9a9d;
}
