@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1b1d21;
}

.postCard {
  width: 100%;
  color: #cfd0d1;
}

.postCard:hover {
  background-color: #232529;
}

.gutter {
  display: flex;
  flex-shrink: 0;
  margin-right: 8px;
}

.userProfileHover {
    display: inline-flex;
    height: fit-content;
    width: fit-content;
}

.photoBtn {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  margin: 0;
  overflow: initial;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
}
