@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0 0 0 129px;
    width: 89.7%;
  margin-bottom: 80px;
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1b1d21;
  font-family: 'Lato', sans-serif;
}

.teamCardsDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postsCardContainer {
  display: flex !important;
  flex-direction: column;
  width: 100%;
}

.postCardsDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 13px;
}

.postCard {
  color: #cfd0d1;
  font-family: 'Lato', sans-serif;
  flex-direction: row;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.postCard:hover {
  background-color: #232529;
}

.gutter {
  display: flex;
  flex-shrink: 0;
  margin-right: 8px;
}

.userProfileHover {
    display: inline-flex;
    height: fit-content;
    width: fit-content;
}

.photoBtn {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  margin: 0;
  overflow: initial;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
}

.messagesCardContainer {
  flex-flow: row wrap;
  font-family: 'Lato', sans-serif;
  margin-left: 10px;
}

.morePostInfoBtn {
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  height: 0;
  line-height: 0;
  margin-bottom: 10px;
}

.editMessage {
  background-color: #222529;
  color: white;
  border: none;
}

.deleteMessage {
  background-color: #222529;
  color: white;
  border: none;
}

.editMessage:hover {
  background-color: #232529;
}

.deleteMessage:hover {
  background-color: #232529;
}

.sidebarStyle {
  text-align: left;
  max-width: 260px;
  background-color: #19171d;
  color: #9b9a9d;
}

.offcanvas {
  overflow: auto;
}

.commentInput {
  height: 142px;
  width: 900px;
}

.post-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.channel-title {
  color: white;
}

.mainPostContainer {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  color: #cfd0d1;
}

.commentInputContainer {
    z-index: 200;
    position: fixed;
    Width: 76%;
    bottom: 0;
    border-radius: 6px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #565856 !important;
    color: #cfd0d1;
    margin-bottom: 1%;
}


.commentInputContainer:focus {
  border: none !important;
}

.commentInputContainer > .form-control {
  border: none !important;
  background-color: #232529 !important;
}

.commentInputContainer::selection > .form-control {
  border: none !important;
  background-color: #232529 !important;
  color: #cfd0d1 
}

.submitPostBtn {
  background-color: #232529;
  border: none;
  align-self: flex-end;
  justify-self: flex-end;
}

.postContentDiv {
  height: 100px;
  border: none !important;
  color: #cfd0d1 !important;
}

.postContentDiv:focus > .form-control {
  border: none !important;
}

.postContentDiv::selection > .form-control{
  background-color: #232529 !important;
  height: 100px;
  border: none !important;
}

.postContentDiv:hover {
  background-color: #232529;
}

.postSubmitToolbar {
  background-color: #232529;
  fill: #232529;
  display: flex;
  flex-direction: column;
}

.leftToolbar {
  background-color: #232529;
  width: 90%;
  justify-self: flex-start;
}

.all-channels-page {
  background-color: white;
}

.profile {
  color: white;
}

.logo {
  height: 50px;
}

.noShow{
  display: none;
}


.icon {
  height: 20px;
  padding: 2px;
}

 
.postOptions {
  background-color: #1b1d21;
  border: none;
  color: #cfd0d1;
  font-size:xx-large
}

.moadlBody {
  background-color: #222529;
}

.modalHeader {
  background-color: #222529;
}

.panel-body-content {
  float: left;
}

.postContentAlign {
  margin-left: 10px;
}

.panel-body-replies {
  float: left;
}

.repliesNumBtn {
  background-color: transparent;
  border: none;
  color: #379bd1;
  padding: 0;
  border-radius: 0px;
}

.repliesNumBtn:hover {
  background-color: transparent;
  border-bottom: 1px solid;
  color: #379bd1;
}

.profileDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
